<ion-view style="background:url('img/bg.jpg')">
  <ion-content class="has-header">

    <div class="col col-80 col-offset-10">
      <img src="img/FwB.png" style="width:100%;height:300px">
    </div>
    <div class="col col-67 col-offset-20">
      <label class="item item-input">
        <span class="input-label" style="font-family:Avenir"><i class="ion-person">    Username</i></span>
        <input type="text" ng-model="nameOfUser">
      </label>
    </div>
    <div class="col col-67 col-offset-20">
      <label class="item item-input">
        <span class="input-label" style="font-family:Avenir"><i class="ion-locked">    Password</i></span>
        <input type="password">
      </label>
    </div>
    <div class="col col-67 col-offset-20" >
      <button class="button button-dark" style="width:100%" ng-click="createorFindUser(nameOfUser);startTimer();">
        Log In
      </button>
    </div>
    <div class="col col-67 col-offset-20" >
      <button class="button button" style="width:100%" ng-click="goQuestions()">
        Sign Up
      </button>
    </div>
  </ion-content>
</ion-view>
