<ion-view view-title="Diary">
    <ion-nav-buttons side="primary">
        <button class="button button-fab button-balanced icon ion-ios-person">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-fab button-balanced icon ion-thumbsup"></button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Breakfast</div>
      <div class="item item-body">
        <div>
          Insert food here <b>EAT ME</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Lunch</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Dinner</div>
      <div class="item item-body">
        <div>
          You are not eating <b>tonight</b>.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
