<ion-view view-title="Recommendation">

    <ion-nav-buttons side="secondary">
        <button class="button button-fab button-energized icon button-outline ion-ios-settings-strong" onclick=" window.location = '#/tab/diary/recommendfilter'"></button>
    </ion-nav-buttons>
    <!-- <ion-content class="padding"> -->
        <div class="row" style="padding-top:55px">
            <div class="col" align="center">
                <h4>Today's Overview</h4>
            </div>
        </div>

        <div class="row row-center" style="height:30%" ng-if="meal_plan_cards.length==0">
            <div class="col" align="center">
                <h6>No meal plans are available</h6>
                <h6>Please try adjusting your filter preference</h6>
            </div>
        </div>

        <swipe-cards>
            <swipe-card ng-repeat="meal in meal_plan_cards" on-card-swipe="cardSwiped($index)"
                        style=" display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 50%;
  top: 50%;
  width: 80%;
  height: 80%;
  margin-left: -160px;
  margin-top: -200px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  border-color:black;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;">
                <div class="list">
                    <div class="item item-divider"><div class="h5" style="margin:0px">Breakfast</div></div>
                    <ion-list>
                        <ion-item class="item-avatar-left" type="item-text-wrap" style="padding-top:8px;padding-bottom:8px;">
                            <img src="{{meal.breakfast.foodImage}}">
                            <div class="row">
                                <div class="col" align="left" style="padding-top:0px">
                                    <h4>{{meal.breakfast.name}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" align="center">
                                    <img src="img/cal.png" style="width:25px">
                                    <h6 style="margin:0px">{{meal.breakfast.nutrient_values.calories}} kcal</h6>
                                </div>
                                <div class="col" align="center">
                                    <img src="img/fat.png" style="width:25px">
                                    <h6 style="margin:0px">{{meal.breakfast.nutrient_values.fat}}g</h6>
                                </div>
                                <div class="col" align="center">
                                    <img src="img/carbs.png" style="width:25px">
                                    <h6 style="margin:0px">{{meal.breakfast.nutrient_values.carbs}}g</h6>
                                </div>
                                <div class="col" align="center">
                                    <img src="img/protein.png" style="width:25px">
                                    <h6 style="margin:0px">{{meal.breakfast.nutrient_values.protein}}g</h6>
                                </div>
                                <div class="col" align="center">
                                    <img src="img/money.png" style="width:25px">
                                    <h6 style="margin:0px">${{meal.breakfast.price}}</h6>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                    <div class="item item-divider"><div class="h5" style="margin:0px">Lunch</div></div>
                    <ion-list>
                        <ion-item class="item-avatar-left" type="item-text-wrap" style="padding-top:8px;padding-bottom:8px;">
                            <img src="{{meal.lunch.foodImage}}">
                            <div class="row">
                                <div class="col" align="left" style="padding-top:0px">
                                    <h4>{{meal.lunch.name}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">{{meal.lunch.nutrient_values.calories}} kcal</h6>
                                </div>
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">{{meal.lunch.nutrient_values.fat}}g</h6>
                                </div>
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">{{meal.lunch.nutrient_values.carbs}}g</h6>
                                </div>
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">{{meal.lunch.nutrient_values.protein}}g</h6>
                                </div>
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">${{lunchie.price}}</h6>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                    <div class="item item-divider"><div class="h5" style="margin:0px">Dinner</div></div>
                    <ion-list>
                        <ion-item class="item-avatar-left" type="item-text-wrap" style="padding-top:8px;padding-bottom:8px;">
                            <img src="{{meal.dinner.foodImage}}">
                            <div class="row">
                                <div class="col" align="left" style="padding-top:0px">
                                    <h4>{{meal.dinner.name}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">{{meal.dinner.nutrient_values.calories}} kcal</h6>
                                </div>
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">{{meal.dinner.nutrient_values.fat}}g</h6>
                                </div>
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">{{meal.dinner.nutrient_values.carbs}}g</h6>
                                </div>
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">{{meal.dinner.nutrient_values.protein}}g</h6>
                                </div>
                                <div class="col" align="center">
                                    <i class="ion-ios-body"></i>
                                    <h6 style="margin:0px">${{meal.dinner.price}}</h6>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
                <div class="button-bar">
                    <button class="button button-full button-energized button-outline" ng-click="addToDiary(meal)">Add to diary!</button>
                </div>
            </swipe-card>
        </swipe-cards>
    <!-- </ion-content> -->
</ion-view>
