<ion-view view-title="Activity">

  <ion-content class="padding">
    <div class="row">
      <div class="col" style="text-align:center;height:200px" ng-click="showFooter=!showFooter">
        <img style="max-height:100%;max-width:100%" src="https://cdn3.iconfinder.com/data/icons/man-poses/512/running_man-512.png"></img>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align:center">

        <div class="list">


          <ion-radio ng-repeat="item in activityList" ng-value="item.value" ng-model="data.clientSide" ng-change="changeItem(item)">
            <div style="text-align:left">{{ item.header }}
              <br>
              <p style="font-size:9px;overflow:visible">{{item.text}}</p>
            </div>
          </ion-radio>

        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
